* {
  padding: 0;
  margin: 0;
  font-family: lucida console, monospace;
  color: #ffffff;
  
  
}


body,html{
  min-height: 100vh;
  height: 100%;
  background-color: #002868;
  max-width: 100%;
  align-self: center;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* centraliza vertical */
}

img{
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(90deg, 
  rgba(191, 10, 48,1) 0% , 
  rgba(179, 25, 66, 1) 100%);
  border-radius:  3rem;
  border: none;
  }

  button:hover{
    background: linear-gradient(90deg,
     rgba( 179, 25, 66,1) 0,
     rgba(191, 10, 48,1 ) 100% );  
  
  }

