.option {
  background-color: #ff4f46;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

  color: rgb(255, 5, 5);
  text-align: center;

  opacity: 0.9;
  transition: 0.3s;
}

.option:hover {
  opacity: 1;
  transform: scale(1.02);
}

#options-container {
  width: 100%;
}

#options-container .option p {
  margin: 0;
}