#questions {
    text-align: center;
    max-width: 500px;
    background-color: #FF91A4;
    border-radius: 1rem;
    padding: 2rem;

}

#questions h2{
        margin-bottom: 2rem;
}

#questions p {
    color: #00286800;
}
